.landing-header {
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(7, 48, 66, 1);
    height: 74px;
    color: white;
}

.header__logo {
    background-image: url("../../images/header-logo.svg");
    width: 38px;
    height: 38px;
    display: block;
}

.landing-header__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.landing-header__links {
    display: flex;
    align-items: center;
}

.landing-header__link_login {
    background-color: #3DDC84;
    border-radius: 3px;
    color: black;
    width:76px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
    box-sizing: border-box;
    margin-left: 30px;
}

@media screen and (max-width: 769px) {
    .landing-header {
        padding: 0 30px;
    }
}

@media screen and (max-width: 321px) {
    .landing-header {
        padding: 0 14px;
    }
    .landing-header__link {
        font-size: 10px;
    }
    .landing-header__link_login {
        width:54px;
        height: 26px;
        padding-top: 5px;
        margin-left: 14px;
    }
}