.portfolio {
    margin: 0;
    color: white;
    background-color: #202020;
    padding: 0px 70px 204px;
}
.portfolio__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    margin-top: 0;
    margin-bottom: 50px;
}
.portfolio__list {
    list-style: none;
    text-align: left;
    margin: 0; padding: 0;

}
.portfolio__list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #424242 solid;
}
.portfolio__list-item:last-of-type {
    border: 0;
}
.portfolio__list-item:first-of-type {
    margin-top: 0;
}
.portfolio__list-item-name {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin-bottom: 19px;
    margin-top: 20px;
    margin-left:0px;
    padding-left:0px;
    text-align: left;
}
.portfolio__list-item-link {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 769px) {
    .portfolio {
        padding: 0px 50px 169px;
    }
    .portfolio__list-item-name {
        font-size: 28px;
        line-height: 50px;
    }
    .portfolio__list-item-link {
        font-size: 28px;
        line-height: 60px;
    }
    .portfolio__list-item {
        border-bottom: 1px #E6E6E6 solid;
    }
}

@media screen and (max-width: 679px) {
    .portfolio {
        padding: 0px 14px 149px;
    }
    .portfolio__title {
        font-size: 14px;
        margin-bottom: 40px;
        line-height: 20px;
    }
    .portfolio__list-item-name {
        font-size: 18px;
        line-height: 28px;
    }
    .portfolio__list-item-link {
        font-size: 18px;
        line-height: 28px;
    }
}